<% include partials/header %>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">YelpCamp</a>
		</div>
	</div>
</nav>

<div class="container">
	<header class="jumbotron">
		<h1>Welcome to YelpCamp!</h1>
		<p>Explore our hand-picked campgrounds from all over the world!</p>
		<p>
			<a class="btn btn-primary" href="/campgrounds/new">Add new camp</a>
		</p>
	</header>

	<div class="row text-center" style="display: flex; flex-wrap: wrap;">
		<% campsData.forEach(function(camps){ %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<img src="<%= camps.img %>">
					<div class="caption">
						<h4><%= camps.name %></h4>
					</div>
				</div>
			</div>	
		<% }) %>
	</div> <!-- row div -->
</div> <!-- container div -->

<% include partials/footer %>