<% include partials/header %>

<h1>This is campground page</h1>

<h3><a href="/campgrounds/new">Add new camp!</a></h3>

<% campsData.forEach(function(camps){ %>
	<div>
		<h4><li><%= camps.name %></li></h4>
		<img src="<%= camps.img %>" width="600px" height="400px">
	</div>	
<% }) %>

<% include partials/footer %>